<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="scheduleApp"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet/less" href="css/component.less" />
    <link rel="stylesheet/less" href="css/main.less">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>


    <script type="text/javascript">less = { env: 'development' };</script>
    <script src="js/vendor/less.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/calendar.js"></script>
    <script src="js/angular-facebook.js"></script>
    <script src="js/vendor/ui-bootstrap-tpls-0.7.0.min.js"></script>

    <script type="text/javascript">
    function readCookie(name) {
    name += '=';
    for (var ca = document.cookie.split(/;\s*/), i = ca.length - 1; i >= 0; i--)
        if (!ca[i].indexOf(name))
            return ca[i].replace(name, '');
    }
    </script>
</head>
<body ng-controller="AuthController">
<ul id="gn-menu" class="gn-menu-main" >
    <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><i class="fa fa-reorder"></i></a>
        <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
                <ul class="gn-menu" ng-controller="userAuthController">
                    <li class="gn-search-item" ng-show="currentUserAuth.type != 'admin'">
                        <a class="gn-icon"><i class="fa fa-search"></i></a>
                        <input placeholder="Search" type="search" class="gn-search">
                    </li>
                    <li ng-show="currentUserAuth.type != 'admin'">
                        <a class="gn-icon" href="#/calendar/">
                            <i class="fa fa-calendar"></i>
                            <span>Make an Appointment</span>
                        </a>
                    </li>
                    <li ng-show="currentUserAuth.type != 'admin'">
                        <a class="gn-icon">
                            <i class="fa fa-clock-o"></i>
                            <span>View History</span>
                        </a>
                    </li>
                    <li ng-show="currentUserAuth.type != 'admin'">
                        <a class="gn-icon" href="#/edit-profile">
                            <i class="fa fa-pencil-square-o"></i>
                            <span>Edit Profile</span>
                        </a>
                    </li>
                    <li ng-show="currentUserAuth.type != 'CLIENT'">
                        <script type="text/javascript">console.log(currentUserAuth.type)</script>
                         <a class="gn-icon" href="#/admin" >
                            <i class="fa fa-tasks"></i>
                            <span>Admin</span>
                        </a>
                    </li>
                   <!--  <li data-ng-show="!loggedIn">
                        <a class="gn-icon" data-ng-show="!loggedIn" data-ng-disabled="!facebookReady" data-ng-click="login()">
                        <i class="fa fa-sign-in"></i>
                            <span>Login</span>
                        </a>
                    </li> -->
                    <li data-ng-show="loggedIn">
                        <a class="gn-icon" data-ng-show="loggedIn" data-ng-disabled="facebookReady" data-ng-click="logout()">
                        <i class="fa fa-sign-out"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div><!-- /gn-scroller -->
        </nav>
    </li>
    <li><a href="#/loading"><h2>Salon Scheduler<h2></a></li>
    <li><a href="#/edit-profile">{{user.name}}<img class="avatar" src="https://graph.facebook.com/{{user.username}}/picture"></a></li>
</ul>


<div id="fb-root"></div>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->




<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script src="js/classie.js"></script>
<script src="js/gnmenu.js"></script>
<script>
    // $(document).ready(function() {
    //     setInterval(function(){
    //         try {
    //             initializeView();
    //         }
    //         catch(err) {
    //         }
    //     }, 50);
    // });
</script>
<script>
    var mygnMenu = new gnMenu( document.getElementById( 'gn-menu' ) );
</script>


<!-- DIV FOR OUR VIEWS -->
<div class="wrapper" id="content" ng-view ng-controller="indexController"></div>





<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!--script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                                                        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
 e=o.createElement(i);r=o.getElementsByTagName(i)[0];
 e.src='//www.google-analytics.com/analytics.js';
 r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-XXXXX-X');ga('send','pageview');
</script-->
</body>
</html>
