<div class="top" ng-controller="adminController">
    <a href="#/edit-user"><button class="btn btn-primary"> Create User </button></a>
</div>

<div class="main" ng-controller="adminController">


<input type="text" class="form-control" ng-model="query">
   <table class="table ">
          <thead>
            <tr>
              <th>#</th>
              <th>Image</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Type</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>

            <tr ng-repeat="user in users | filter:query">
              <td>{{$index+1}}</td>
              <td><img src="{{user.avatarURL}}" height="50" class="avatar"></td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.type}} {{user.id}}</td>
              <td >
                  <button type="button" class="btn btn-warning" ng-show="user.active" ng-click="deactivateButton(user)"> Deactivate </button>
                  <button type="button" class="btn btn-success" ng-hide="user.active" ng-click="activateButton(user)">Activate</button>
              </td>
            </tr>
          </tbody>
        </table>
</div>

