<div class="top">
    <h2 class="left">Upcoming</h2>
    <div class=" right vertical-center-parent">
        <div class="vertical-center-child">
            <a href="#/calendar" class="btn btn-primary">Make an Appointment</a>
        </div>
    </div>
</div>

<div class="main" ng-controller="CalendarGenerator">

    <div ng-controller="ClientLandingController">
    <div class="left upcoming-appointments">

        <div ng-repeat="appointment in appointments">
            <div class="alert alert-{{appointment.myColor}} " ng-click="calendar(appointment.startTime.getFullYear(),appointment.startTime.getMonth(),appointment.startTime.getDate())" >You have an appointment with {{appointment.stylistFirst}} at {{appointment.startTime.toLocaleTimeString() }}   {{appointment.myColor}}  
            </div>
        </div>

    </div>
    </div>

    <div class="right calendar">
        <div class="month" >
            <h2 class="month-name">{{month.name}}</h2>
            <div class="week" ng-repeat="week in month.weeks">
                <div ng-repeat="day in week" class="day {{day.name}} {{day.class}}"><strong>{{day.number}}</strong></div>
            </div>
        </div>
    </div>

</div>