<div class="top">
    <h2 class="left">Upcoming</h2>
    <div class=" right vertical-center-parent">
        <div class="vertical-center-child">
            <a href="#/calendar" class="btn btn-primary">Make an Appointment</a>
        </div>
    </div>
</div>

<div class="main" ng-controller="CalendarGenerator" ng-init="calendar()">
    <div class="left upcoming-appointments">
        <div class="alert alert-success" ng-click="calendar(2013, 2, 3)" >See you Wednesday March 3rd at 8 am with Alexa </div>
        <div class="alert alert-warning" ng-click="calendar(2013, 2, 18)">Appointment March 18th (Pending)</div>
        <div class="alert alert-danger" ng-click="calendar(2013, 3, 20)">Sorry, April 21th at 5:21pm wont work </div>

    </div>

    <div class="right calendar">
        <div class="month" >
            <h2 class="month-name">{{month.name}}</h2>
            <div class="week" ng-repeat="week in month.weeks">
                <div ng-repeat="day in week" class="day {{day.name}} {{day.class}}"><strong>{{day.number}}</strong></div>
            </div>
        </div>
    </div>
</div>
