<div class="top">
    <h2 class="left">Edit Availability</h2>
    <div class=" right vertical-center-parent">
        <div class="vertical-center-child">
            <button type="button" class="btn btn-primary">Save Changes</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <div ng-controller="TimepickerDemoCtrl">
            <div ng-model="mytime" ng-change="changed()" class="well well-small" style="display:inline-block;">
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>

            <pre>Time is: {{mytime | date:'shortTime' }}</pre>
        </div>
    </div>
    <div class="col-md-2">
        <div ng-controller="TimepickerDemoCtrl">
            <div ng-model="mytime" ng-change="changed()" class="well well-small" style="display:inline-block;">
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>

            <pre>Time is: {{mytime | date:'shortTime' }}</pre>
        </div>
    </div>
    <div class="col-md-2">
        <div ng-controller="TimepickerDemoCtrl">
            <div ng-model="mytime" ng-change="changed()" class="well well-small" style="display:inline-block;">
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>

            <pre>Time is: {{mytime | date:'shortTime' }}</pre>
        </div>
    </div>
    <div class="col-md-2">
        <div ng-controller="TimepickerDemoCtrl">
            <div ng-model="mytime" ng-change="changed()" class="well well-small" style="display:inline-block;">
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>

            <pre>Time is: {{mytime | date:'shortTime' }}</pre>
        </div>
    </div>
    <div class="col-md-2">
        <div ng-controller="TimepickerDemoCtrl">
            <div ng-model="mytime" ng-change="changed()" class="well well-small" style="display:inline-block;">
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>

            <pre>Time is: {{mytime | date:'shortTime' }}</pre>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>