<div class="top">
    <h2 class="left">Edit Availability</h2>
    <div class=" right vertical-center-parent">
        <div class="vertical-center-child">
            <button type="button" class="btn btn-primary" ng-click="submit()">Save Changes</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <h3>Monday</h3>
        <div>
            <div ng-model="availability[1].startTime" class="well well-small" style="display:inline-block;">
                <h4>Start Time</h4>
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
        </div>
        <div>
            <div ng-model="availability[1].endTime" class="well well-small" style="display:inline-block;">
                <h4>End Time</h4>
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <h3>Tuesday</h3>
        <div>
            <div ng-model="availability[2].startTime" class="well well-small" style="display:inline-block;">
                <h4>Start Time</h4>
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
        </div>
        <div>
            <div ng-model="availability[2].endTime" class="well well-small" style="display:inline-block;">
                <h4>End Time</h4>
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <h3>Wednesday</h3>
        <div>
            <div ng-model="availability[3].startTime" class="well well-small" style="display:inline-block;">
                <h4>Start Time</h4>
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
        </div>
        <div>
            <div ng-model="availability[3].endTime" class="well well-small" style="display:inline-block;">
                <h4>End Time</h4>
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <h3>Thursday</h3>
        <div>
            <div ng-model="availability[4].startTime" class="well well-small" style="display:inline-block;">
                <h4>Start Time</h4>
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
        </div>
        <div>
            <div ng-model="availability[4].endTime" class="well well-small" style="display:inline-block;">
                <h4>End Time</h4>
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <h3>Friday</h3>
        <div>
            <div ng-model="availability[5].startTime" class="well well-small" style="display:inline-block;">
                <h4>Start Time</h4>
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
        </div>
        <div>
            <div ng-model="availability[5].endTime" ng-change="changed()" class="well well-small" style="display:inline-block;">
                <h4>End Time</h4>
                <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>


</div>