<div class="top">
    Edit Profile 
    <button type="button" class="btn btn-primary right asd">Save Changes</button>
</div>

<div class="wrapper">
    <div class="jumbotron">
        <h3>Hello, Sandy Johnson!</h3>
        <p>Here, you can edit some profile information. If you see that some of the items are disabled, its because we are pulling that information from your user from google</p>
    </div>

    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">Edit Information</h2>

            <span class="label label-primary">Name</span>
            <input type="text" class="form-control" placeholder="Sandy Johnson" autofocus="" readonly>

            <span class="label label-primary">Phone</span>
            <input type="text" class="form-control" placeholder="(916) 555-1234">

            <span class="label label-primary">Hair Color</span>
            <input type="text" class="form-control" placeholder="Dirty Blond">

            <span class="label label-primary">Hair Length</span>
            <input type="text" class="form-control" placeholder="Longish">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </form>
    </div>
</div>