<div class="top">
    <h2 class="left">Edit Profile</h2>
    <div class=" right vertical-center-parent">
        <div class="vertical-center-child">
            <button type="button" class="btn btn-primary">Save Changes</button>
        </div>
    </div>
    
</div>

<div class="wrapper">
    <div class="jumbotron edit-user-jumbo">
        <h3>Hello, {{user.name}}!</h3>
        <p>Here, you can edit some profile information. If you see that some of the items are disabled, its because we are pulling that information from your facebook profile</p>
    </div>

    <div class="container">

        <form class="form-signin edit-user">
            <h2 class="form-signin-heading">Edit Information</h2>

            <span class="label label-primary">Name</span>
            <input type="text" class="form-control" placeholder="{{user.name}}" autofocus="" readonly>

            <span class="label label-primary">Phone</span>
            <input type="text" class="form-control" placeholder="(916) 555-1234">

            <span class="label label-primary">Hair Color</span>
            <input type="text" class="form-control" placeholder="Dirty Blond">

            <span class="label label-primary">Hair Length</span>
            <input type="text" class="form-control" placeholder="Longish">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </form>
    </div>
</div>