
<div class="top">
    <h2 class="left">Edit Profile</h2>
    <div class=" right vertical-center-parent">
        <div class="vertical-center-child">
        </div>
    </div>

</div>

<div class="wrapper" ng-init="getUserInfo()" ng-controller="userAuthController">
    <div class="jumbotron edit-user-jumbo" ng-show="userInfo.type == 'CLIENT'" >
        <h3>Hello {{userInfo.name}}!</h3>
        <p>Here, you can edit some profile information. If you see that some of the items are disabled, its because we are pulling that information from your facebook profile</p>
    </div>

<div class="jumbotron edit-user-jumbo" ng-show="userInfo.type != 'CLIENT'">
  <button class="btn btn-lg btn-primary btn-block" type="submit"  ng-click="updateClientServices(localAppoitnmentTypes)">Update Services {{allsaved}}</button>
   <table class="table " >
          <thead>
            <tr>
              <th>#</th>
              <th>Service Name</th>
              <th>Service Duration</th>
              <th>Add/Remove</th>
            </tr>
          </thead>
          <tbody>

            <tr ng-repeat="ap in localAppoitnmentTypes">
              <td>{{$index+1}}</td>
              <td>{{ap.appointmentType}}</td>
              <td>{{ap.durationInMinutes}}</td>
              <td>
                <input type="checkbox" name="ap.id"  id="ap.id" value="1" ng-model="ap.me">
              </td>
            </tr>
            {{ap.savedStat}}
          </tbody>

    </table>
</div>

    <div class="container">

        <form name="myForm" class="form-signin edit-user">
            <ng-form>
            <h2 class="form-signin-heading">Edit Information</h2>

            <span class="label label-primary">Name *</span>
            <input type="text" class="form-control" placeholder="First Last" autofocus=""  ng-model="userInfo.name" required name="firstlast">

            <span class="label label-primary">Phone *</span>
            <input type="text" name="phone"  class="form-control" placeholder="9165551234" ng-model="userInfo.phone" name="phone" required>

            <span class="label label-primary">Email *</span>
            <input type="email" name="email" class="form-control" placeholder="something@example.com" ng-model="userInfo.email" required>

            <span class="label label-primary">Hair Color</span>
            <input type="text" class="form-control" placeholder="Dirty Blond" ng-model="userInfo.hairColor">

            <span class="label label-primary">Hair Length</span>
            <input type="text" class="form-control" placeholder="Longish" ng-model="userInfo.hairLength">
            <div ng-show="currentUserAuth.type != 'CLIENT'">
                  <span class="label label-primary">Change Password *</span>
                  <input type="password" class="form-control" ng-model="userInfo.password1">
                  <span class="label label-primary">Confirm Password Change*</span>
                  <input type="password" class="form-control" ng-model="userInfo.password2" password-match="userInfo.password1">
            </div>

            <button class="btn btn-lg btn-primary btn-block ng-valid" type="submit" ng-disabled="!myForm.$valid"  ng-click="setUserInfo()">Save</button>
            </ng-form>
        </form>
    </div>
</div>