<div class="container">
    <p class="login-staff-client-selection" ng-init="client=true; staff=false;">
        <button type="button" class="btn btn-lg" ng-class="{true:'btn-primary', false:'btn-default'}[staff]" ng-click="staff=true; client=false; ">Staff</button>
        <button type="button" class="btn btn-lg" ng-class="{true:'btn-primary', false:'btn-default'}[client]" ng-click="staff=false; client=true;">Client</button>
    </p>
    <form ng-show="staff" >
        <h2>Please sign in</h2>
        <div class="form-group">
            <label for="email-input">Email</label>
            <input type="text" class="form-control" id="email-input" placeholder="Email address" autofocus="">
        </div>
        <div class="form-group">
            <label for="password-input">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

    <form ng-show="client">
        <h2>Please sign in with one of the following services</h2>
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-lg btn-block" data-ng-show="!loggedIn" data-ng-disabled="!facebookReady" data-ng-click="getLoginStatus()">Facebook</button>
            <button type="button" class="btn btn-danger btn-lg btn-block" data-ng-show="loggedIn" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>
        </div>
    </form>
</div>