<div class="top">
    <h2 class="left">Upcoming</h2>
    <div class=" right vertical-center-parent">
        <div class="vertical-center-child">
            <a href="#/staff-calendar" class="btn btn-primary">Make an Appointment</a>
        </div>
    </div>
</div>

<div class="main" ng-controller="CalendarGenerator">

    <div ng-controller="acceptAppointmentsController">
    <div class="left upcoming-appointments">
        <div appointmentgetter-staff>

        </div>

    </div>
    </div>

    <div class="right calendar">
        <button class="btn btn-default right" ng-click="calendar()">Today</button>
        <div class="clearfix"></div>

        <div class="month" >
            <h2 class="month-name">{{month.name}}</h2>
            <div class="week" ng-repeat="week in month.weeks">
                <div ng-repeat="day in week" class="day {{day.name}} {{day.class}}"><strong>{{day.number}}</strong></div>
            </div>
        </div>
    </div>

</div>