<div class="top">
    <h2 class="left">Upcoming</h2>
    <div class=" right vertical-center-parent">
        <div class="vertical-center-child">
            <button type="button" class="btn btn-primary">Make an Appointment</button>
        </div>
    </div>
</div>

<div class="main" ng-controller="CalendarGenerator">

    <div ng-controller="StaffLandingController">
    <div class="left upcoming-appointments">

        <div ng-repeat="appointment in appointments">
            <div class="alert alert-{{appointment.status}} " ng-click="calendar(appointment.dateYear,appointment.dateMonth,appointment.dateDay)">Appointment with {{appointment.client}} at {{(appointment.time-1)%12+1}}{{(appointment.time>=12) && 'pm' || 'am'}}<br/>
                <input ng-disabled="appointment.disabled" class="form-control" id="disabledInput" type="text" placeholder="{{appointment.message}}"><br/>
                <button ng-disabled="appointment.disabled" type="button" class="btn btn-danger ">Deny</button>
                <button ng-disabled="appointment.disabled" type="button" class="btn btn-success" >Accept</button>
            </div>
        </div>

    </div>
    </div>

    <div class="right calendar">
        <div class="month" >
            <h2 class="month-name">{{month.name}}</h2>
            <div class="week" ng-repeat="week in month.weeks">
                <div ng-repeat="day in week" class="day {{day.name}} {{day.class}}"><strong>{{day.number}}</strong></div>
            </div>     
        </div>
    </div>

</div>